<!--left sidebar start-->

    <div class="left-sidebar">
        <nav class="sidebar-menu">
            <ul id="nav-accordion">
                <li class="sub-menu">
                    <a href="/admin" class="dashboard">
                        <i class=" ti-home"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="nav-title">
                    <h5 class="text-uppercase">Quản Lý Dữ Liệu</h5>
                </li>

                <li class="sub-menu">
                    <a href="/admin/user/" class="user">
                        <i class="fa fa-user"></i>
                        <span>Quản Lý Người Dùng</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/admin/assignment/" class="assignment">
                        <i class=" icon-speech"></i>
                        <span>Câu Hỏi Luyện Tập</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/admin/quiz/" class="quiz">
                        <i class="fa fa-question"></i>
                        <span>Câu hỏi trắc nghiệm</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/admin/assignment_kit/" class="assignment_kit">
                        <i class="fa fa-certificate"></i>
                        <span>Chứng Chỉ</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/admin/apply/" class="apply">
                        <i class="icon-folder"></i>
                        <span>Tuyển Dụng</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/admin/assignment_bank/" class="assignment_bank">
                        <i class="icon-docs"></i>
                        <span>Ngân Hàng Đề Thi</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/admin/contest/" class="contest">
                        <i class="fa fa-user-circle-o"></i>
                        <span>Tổ Chức Thi</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
<!--left sidebar end-->